@import 'animate';

h1, h2, h3, h4, h5 {
    font-family: 'Alegreya Sans SC', sans-serif;
}

body {
    // background-color: black;
    font-family: 'Alegreya Sans', sans-serif;
    // font-family: 'Alegreya Sans SC', sans-serif;
}

.pushpin-navbar.pinned {
    display: block;
    @extend .animated;
    @extend .slideInDown;
}

.pushpin-navbar {
    display: none;
}

.logo-text {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 100;
    // color: white;
}

.brand-logo {
    @extend .logo-text;
}

@media all and (max-width: 600px) {
    #influxstar {
        font-size: 15vw !important;
        line-height: 2em;
    }

    .body-text {
        font-size: 2em !important;
    }
}

#influxstar {
    @extend .logo-text;
    text-align: center;
    margin-top: 10%;
    font-size: 10vw;
    font-weight: 100;
    line-height: 2em;
    margin-top: calc(50vh - 1em)
    // margin-bottom: 20px;
}

.body-text {
    text-align: center;
    font-size: 2.5em;
    color: white;
    font-weight: 100 !important;
}